@charset "UTF-8"; /* Para navegadores WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Opcional: Asegurar que funcione en todos los navegadores */
input[type="number"] {
    appearance: none;
}

.botonGeneral {
    border: 2px solid #847648;
    color: #fff;
    background-color: #847648;
    font: 700 18px/1 'Open Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 14px 15px 11px;
    min-width: 150px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    margin: 5px 10px
}

.botonGeneral.v2 {
    color: #847648;
    background-color: #fff
}

.botonGeneral:hover, .botonGeneral:focus {
    text-decoration: none
}

@media(min-width: 801px) {
    .botonGeneral:focus, .botonGeneral:hover {
        background-color:#fff;
        color: #847648;
        transition: .3s
    }

    .botonGeneral.v2:focus, .botonGeneral.v2:hover {
        color: #fff;
        background-color: #847648
    }
}

@media(min-width: 801px) {
    .botonGeneral2:focus, .botonGeneral2:hover {
        background-color:transparent;
        color: #847648;
        transition: .3s
    }
}

/*icons form salones*/
.sta-banquete:before {
    content: '\e04c'
}

.sta-cocktail:before {
    content: '\e04f'
}

.sta-teatro:before {
    content: '\e050'
}

.sta-formaU:before {
    content: '\e053'
}

.sta-imperial:before {
    content: '\e054'
}

.sta-escuela:before {
    content: 'E'
}

.sta-cabaret:before {
    content: '\e04c'
}

.sta-area:before {
    content: '\e146'!important
}

.sta-serv:before {
    content: '\e0c1'
}
/*INICIO buscadorME*/
.tpl-buscadorME-eh {
    position: fixed;
    top: 0;
    left: auto;
    right: -100%;
    bottom: 0;
    background: #fff;
    z-index: 300;
    overflow: auto;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    overflow-y: auto !important;
}

.tpl-buscadorME-eh .tpl-buttonSearchME-eh_buscador {
    position: fixed;
    bottom: 0;
}

.tpl-buscadorME-eh.openModal {
    font: 300 17px 'Open Sans';
    color: #767676;
    right: 0!important;
    z-index: 360;
}

.tpl-buscadorME-eh .sta-buscadorME-eh_input {
    position: relative;
    margin: 15px 10px;
}

.tpl-buscadorME-eh .sta-buscadorME-eh_header {
    padding: 10px 10px 0;
    display: flex;
    justify-content: flex-end;
}

.tpl-buscadorME-eh .sta-buscadorME-eh_input .sta-ME_input {
    border: 1px solid #00263A;
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    padding: 10px;
    color: #767676;
    font: 300 17px 'Open Sans';
}

.tpl-buscadorME-eh .sta-buscadorME-eh_input.select .sta-ME_input:after {
    content: "";
    position: absolute;
    right: 1em;
    top: 1.2em;
    border-style: solid;
    border-color: #00263A;
    border-image: initial;
    border-width: 0px 2px 2px 0px;
    pointer-events: none;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    background-color: #fff;
    transition: transform .3s;
}

.tpl-buscadorME-eh .sta-buscadorME-eh_input.select.open .sta-ME_input:after {
    transform: rotate(225deg);
}

/**/
/*INICIO buscadorME desk*/
.tpl-buscadorME-eh.desk {
    display: none;
}

.tpl-buscadorME-eh.desk .sta-buscadorME-eh_max {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.tpl-buscadorME-eh.desk .sta-buscadorME-eh_input {
    position: relative;
    margin: 10px 7px;
    width: 220px;
}

.tpl-buscadorME-eh.desk .sta-buscadorME-eh_input.destino {
    width: 310px;
}

.tpl-buscadorME-eh.desk .sta-buscadorME-eh_header {
    padding: 10px 10px 0;
    display: flex;
    justify-content: flex-end;
}

.tpl-buscadorME-eh.desk .tpl-buttonSearchME-eh_buscador {
    width: 180px;
    position: initial;
    margin: 10px 7px
}

@media(width > 1100px) {
    .tpl-buscadorME-eh.desk {
        display: table;
        padding-top: 50px;
        position: initial;
    }
}

/*INCIO resultsModuleME*/
.tpl-resultsModuleME-eh .sta-resultsModuleME-eh_max {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(390px,1fr));
    gap: 1rem;
    justify-items: center;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.tpl-resultsModuleME-eh .pagination {
    position: absolute;
    bottom: 0;
    font-family: 'Open Sans';
}

.tpl-resultsModuleME-eh .pagination .page-info {
    padding: 0 10px;
}

.tpl-resultsModuleME-eh .sta-resultsModuleME-eh_max:has(.sta-resultsModuleME-eh) {
    padding-top: 30px;
}

.tpl-resultsModuleME-eh .sta-resultsModuleME-eh {
    width: 100%;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3
}

.tpl-resultsModuleME-eh .sta-resultsModuleME-eh_photo {
    position: relative;
    height: 300px;
}

.tpl-resultsModuleME-eh .sta-resultsModuleME-eh_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tpl-resultsModuleME-eh .sta-resultsModuleME-eh_photo .sta-resultsModuleME-eh_total {
    position: absolute;
    font-size: 16px;
    color: #fff;
    background: #00263A;
    z-index: 1;
    padding: 4px 12px;
    border-radius: 12px;
    bottom: 14px;
    right: 14px;
}

.sta-resultsModuleME-eh_text {
    font-size: 20px;
    font-weight: 600;
    color: #00263A;
    padding: 5px 24px 0;
}

.sta-resultsModuleME-eh_text_dir {
    font-size: 14px;
    color: #666666;
    padding-left: 24px;
    padding-right: 24px;
}

.tpl-resultsModuleME-eh .sta-resultsModuleME-eh .sta-resultsModuleME-eh_contButton {
    padding-top: 55px;
    padding-left: 24px;
    padding-right: 24px;
}

.tpl-resultsModuleME-eh .sta-resultsModuleME-eh .sta-resultsModuleME-eh_link {
    padding-bottom: 10px;
}

.tpl-resultsModuleME-eh .sta-resultsModuleME-eh .sta-resultsModuleME-eh_link a {
    color: #00263A
}

.tpl-resultsModuleME-eh .sta-resultsModuleME-eh .sta-resultsModuleME-eh_selection {
    width: 100%;
    height: 48px;
    color: #00263A;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00263A;
    font-size: 17px;
    transition: .3s;
}

@media(width > 600px) {
    .tpl-resultsModuleME-eh {
        padding: 0 50px
    }

    .tpl-resultsModuleME-eh .sta-resultsModuleME-eh {
        padding: 0 15px 50px;
        width: 410px;
    }

    .sta-resultsModuleME-eh_text {
        padding-left: 0;
        padding-right: 0;
    }

    .sta-resultsModuleME-eh_text_dir {
        padding-left: 0;
        padding-right: 0;
    }

    .tpl-resultsModuleME-eh .sta-resultsModuleME-eh .sta-resultsModuleME-eh_contButton {
        padding-left: 0;
        padding-right: 0
    }
}

@media(width > 1100px) {
    .sta-resultsModuleME-eh_text {
        font-size: 24px
    }

    .tpl-resultsModuleME-eh .sta-resultsModuleME-eh .sta-resultsModuleME-eh_selection:hover {
        background: #00263A;
        color: #fff
    }

    .tpl-resultsModuleME-eh .sta-resultsModuleME-eh_max:has(.sta-resultsModuleME-eh) {
        padding-top: 60px;
    }
}

/**/
.no-results {
    font-size: 16px;
    font-family: 'Open Sans';
    color: red;
    padding-top: 20px;
}

/**/
/*INICIO estilos resultados generados en el input*/
.sta-buscadorME-eh_input.select .resultsME {
    display: none;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease, opacity 0.5s ease, display .5s ease allow-discrete;
    max-height: 200px;
    overflow: auto;
    position: absolute;
    top: 47px;
    z-index: 1;
    background: #fff;
    border-top: 0;
    left: 0;
    right: 0;
}

.sta-buscadorME-eh_input.select.open .resultsME {
    display: block;
    transform: scaleY(1);
    opacity: 1;
}

.sta-buscadorME-eh_input.select .resultsME:has(li) {
    border: 1px solid #00263A
}

.resultsME li {
    padding: 10px;
    background-repeat: no-repeat;
    background-position: 11px center;
    background-size: auto;
}

.resultsME li:hover {
    background-color: rgb(240, 237, 237);
}

.resultsME .li-items {
    padding: 10px;
    background-repeat: no-repeat;
    background-position: 11px center;
    background-size: auto;
    font: 300 17px 'Open Sans';
    color: #767676
}

.resultsME .li-items:hover {
    background-color: rgb(240, 237, 237);
}
.tpl-buttonSearchME-eh_buscador {
    width: 100%;
}

.tpl-buttonSearchME-eh_buscador .sta-buttonSearchME-eh_max {
    width: 100%;
    height: 48px;
    background: #00263A;
    display: flex ;
    align-items: center;
    justify-content: center;
}

.tpl-buttonSearchME-eh_buscador .sta-buttonSearchME-eh_text {
    font: 700 17px 'Open Sans';
    color: #fff;
}

/*boton buscar */
.tpl-buttonSearchME-eh {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.tpl-buttonSearchME-eh .sta-buttonSearchME-eh_max {
    width: 100%;
    height: 48px;
    background: #00263A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tpl-buttonSearchME-eh .sta-buttonSearchME-eh_text {
    font: 700 17px 'Open Sans';
    color: #fff;
}

@media(width > 1100px) {
    .tpl-buttonSearchME-eh {
        display: none;
    }
}